<div class="crude-form__wrapper" ng-show="triggerForm" class="p-2">
    <h3 ng-show="addForm">Add Ticket</h3>
    <form name="userForm" #ticketForm = "ngForm">

        <div class="form-group">
            <label class="font-weight-bold" for="customer">Customer <span class="value-required">(*)</span></label>
            <input class="form-control" id="customer" type="text" name="customer" [(ngModel)]="ticket.customer" #customer="ngModel"
                placeholder="Enter customer name" required />
            <p class="show-required" *ngIf="!customer.valid && isShowRequired">Customer name is required</p>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" for="bookingTime">Booking time <span class="value-required">(*)</span></label>
            <input class="form-control" id="bookingTime" type="text" name="bookingTime" [(ngModel)]="ticket.bookingTime" #bookingTime="ngModel"
                placeholder="--:-- --" required />
            <p class="show-required" *ngIf="!isValidateTime && isShowRequired">Booking time is required</p>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" for="tripId">Trip <span class="value-required">(*)</span></label>
            <select class="form-control" id="tripId" type="text" name="tripId" [(ngModel)]="ticket.tripId"
                #place="ngModel" required>
                <option *ngFor="let item of trip" [value]="item.id">{{item.destination}}</option>
            </select>
            <p class="show-required" *ngIf="!place.valid && isShowRequired">Trip is required</p>
        </div>

        <div class="form-group">
            <label class="font-weight-bold" for="carId">License plate<span class="value-required">(*)</span></label>
            <select class="form-control" id="carId" type="text" name="carId" [(ngModel)]="ticket.carId"
                #carId="ngModel" required>
                <option *ngFor="let item of car" [value]="item.id">{{item.licensePlate}}</option>
            </select>
            <p class="show-required" *ngIf="!carId.valid && isShowRequired">License plate is required</p>
        </div>
        <div class="list-btn">
           
            <button class="btn btn-primary ml-2" (click)="clearRequired(); ticketForm.reset()">
                Reset</button>
            <button class="btn btn-primary ml-2" (click)="addTicket(ticketForm.form)">
                Add</button>
        </div>
    </form>
</div>