<div class="ml-2" style="width: calc( 100vw - 244px)">
    <h2 class="my-2">
      Parking lot list
    </h2>
    <div class="filter">
      <div class="form-inline">
      
      </div>
      <div class="form-inline float-right">Search by name:
        <div class="form-group ml-1">
          <input class="form-control" type="text" ng-model="searchName" placeholder="Type name to search" />
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th ng-click="orderBy('name')">Id</th>
          <th ng-click="orderBy('country')">Parking lot</th>
          <th ng-click="orderBy('salary')">Place</th>
          <th ng-click="orderBy('salary')">Area</th>
          <th ng-click="orderBy('email')">Price</th>
          <th ng-click="orderBy('email')">Status</th>
          <th ng-click="orderBy('email')">Action</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let parkinglot of parkinglots; let i = index">
          <td>{{ i+1 }}</td>
          <td>{{ parkinglot.name }}</td>
          <td>{{ parkinglot.place }}</td>
          <td>{{ parkinglot.area }}</td>
          <td>{{ parkinglot.price }}</td>
          <td>blank</td>
          <td>
            <button class="btn mr-2 btn-primary" ng-click="editUser(user)">view</button>
            <button class="btn btn-danger" ng-click="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>