th {
    text-align: center;
  }
  .filter{
      display: flex;
      width: 100%;
justify-content: space-between;
  }
  .float-right{
        display: flex; 
        justify-content: flex-end;
     }
  .glyphicon {
    margin-right: 10px;
  }
  
  .crud-table {
    padding: 0 16px 16px;
    box-sizing: border-box;
    width: 100vw;
  }
  
  .form-alert {
    margin-top: 10px;
  }
  
  .form-inline {
    margin-bottom: 20px;
  }
  .table td, .table th{
    padding: 0;
    vertical-align:auto;
    line-height: 40px;
    }